<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <% if false %>
    <input type="text" class="field mb-3" placeholder="Please enter query…">
  <% end %>

  <div class="dropdown inline-block mr-4 sm:mr-5">
    <button class="dropdown-link text-gray-700">
      Category

      <%= image_tag 'arrow-dropdown.svg',
                    class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>
    </button>
    <button class="dropdown-overlay hidden" tabindex="-1"></button>
    <div class="dropdown-list hidden">
      <% Job.categories.each do |key, value| %>
        <a href="#" class="dropdown-list-item">
          <%= Job.human_attribute_name("category.#{key}") %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="dropdown inline-block">
    <button class="dropdown-link text-gray-700">
      Level

      <%= image_tag 'arrow-dropdown.svg',
                    class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>
    </button>
    <button class="dropdown-overlay hidden" tabindex="-1"></button>
    <div class="dropdown-list hidden">
      <% Job.levels.each do |key, value| %>
        <a href="#" class="dropdown-list-item">
          <%= Job.human_attribute_name("category.#{key}") %>
        </a>
      <% end %>
    </div>
  </div>

  <% @jobs.each_with_index do |job, index| %>
    <%= render 'jobs/job', job: job, index: index %>
  <% end %>
</div>

<%= render 'shared/footer' %>
