<% if params[:category].present? %>
  <% content_for :title,
    t(
      '.title_with_category',
      category: Job.human_attribute_name("category.#{params[:category]}")
    )
  %>
<% end %>

<div class="container px-6 max-w-xl mb-6">
  <% if false %>
    <input type="text" class="field mb-3" placeholder="Please enter query…">
  <% end %>

  <div class="mb-5">
    <div class="dropdown inline-block mr-4 sm:mr-5">
      <button class="dropdown-link text-gray-700">
        <%= Job.human_attribute_name('category') %><%= ": #{Job.human_attribute_name("category.#{params[:category]}")}" if params[:category].present? %>

        <%= image_tag 'arrow-dropdown.svg',
                      class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>
      </button>
      <button class="dropdown-overlay hidden" tabindex="-1"></button>
      <div class="dropdown-list hidden">
        <% Job.categories.each do |key, value| %>
          <%= link_to Job.human_attribute_name("category.#{key}"),
                      jobs_path(category: key),
                      class: 'dropdown-list-item' %>
        <% end %>
      </div>
    </div>

    <% if false %>
      <div class="dropdown inline-block">
        <button class="dropdown-link text-gray-700">
          Level

          <%= image_tag 'arrow-dropdown.svg',
                        class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>
        </button>
        <button class="dropdown-overlay hidden" tabindex="-1"></button>
        <div class="dropdown-list dropdown-list-xs hidden">
          <% Job.levels.each do |key, value| %>
            <a href="#" class="dropdown-list-item">
              <%= Job.human_attribute_name("category.#{key}") %>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container container--unpadded max-w-xl mb-2 sm:mb-4">
  <div class="py-5 px-6 bg-gray-100 sm:bg-transparent sm:border-2 text-gray-800 sm:rounded-lg">
    <h3 class="heading-3 mb-2">
      <%= t '.banner.heading' %>
    </h3>

    <p class="mb-1">
        <%= t '.banner.content' %>
    </p>

    <%= link_to t('.banner.link'), new_job_path, class: 'underlined underlined-black mb-1' %>
  </div>
</div>

<div class="container px-6 max-w-xl mb-6">
  <%= render partial: 'jobs/job', collection: @jobs, as: :job, cached: true %>
</div>

<%= render 'shared/footer' %>
