<%= content_for :title, 'Customer support manager' %>

<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1 mb-1">
    <%= @job.title %>
  </h1>

  <p class="heading-3 mb-2">
    <span class="font-normal text-gray-600">at</span>
    <strong class="font-semibold text-gray-800">
      <%= @job.company.name %>
    </strong>
  </p>

  <div class="w-12 h-1 bg-gray-800 mb-8"></div>

  <article class="text-gray-900">
    <p class="mb-6">
      <%= @job.description %>
    </p>

    <h3 class="font-semibold mb-2 text-lg">How to apply:</h3>

    <p class="mb-6">
      <%= @job.how_to_apply %>
    </p>
  </article>

  <a href="#" class="button">
    Apply
  </a>
</div>
