<% content_for :title, @job.title %>
<% content_for :meta_description, job_meta_description(@job) %>

<div id="job" class="px-4 lg:px-0 max-w-xl mx-auto mb-6">
  <% unless @job.active? %>
    <div class="bg-yellow-100 py-4 px-5 mb-4 sm:mb-6 border border-yellow-300 text-gray-800 rounded">
      <%= t '.archived' %>
    </div>
  <% end %>

  <h1 class="heading-1 mb-1">
    <%= @job.title %>
  </h1>

  <p class="heading-3 mb-2">
    <span class="font-normal text-gray-600">
      <%= t 'views.at' %>
    </span>
    <strong class="font-semibold text-gray-800">
      <%= @job.company.name %>
    </strong>
  </p>

  <div class="bar mb-4"></div>

  <div class="mb-5">
    <p class="mb-2 text-gray-700">
      <%= salary_range(@job) %>
      <span class="text-gray-500 mx-1">|</span>
      <%= Job.human_attribute_name("employment_type.#{@job.employment_type}") %>
    </p>

    <div class="flex flex-wrap">
      <% if false %>
        <span class="tag mr-2">
          <%= image_tag 'pin.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          <%= @job.location %>
        </span>
      <% end %>

      <%= link_to jobs_path(category: @job.category), class: 'tag mr-2' do %>
        <%= Job.human_attribute_name("category.#{@job.category}") %>
      <% end %>

      <% if @job.remote? %>
        <span class="tag mr-2">
          <%= image_tag 'globe.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          <%= Job.human_attribute_name('remote') %>
        </span>
      <% end %>

      <% if @job.visa_sponsorship? %>
        <span class="tag mr-2">
          <%= image_tag 'airplane.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          <%= Job.human_attribute_name('visa_sponsorship') %>
        </span>
      <% end %>
    </div>
  </div>

  <article class="mb-4">
    <%= markdown @job.description %>

    <% if @job.how_to_apply.present? %>
      <h2 class="mt-5">
        <%= t '.how_to_apply' %>
      </h2>

      <%= markdown @job.how_to_apply %>
    <% end %>
  </article>

  <p class="mb-2 text-sm text-gray-600 mb-6">
    <%= t 'views.published_at', count: published_at_count(@job) %>
  </p>

  <%= link_to t('.apply_button'),
    @job.apply_url, target: :_blank,
    class: 'button'
  %>
</div>
