<%= content_for :title, 'Customer support manager' %>

<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1 mb-1">
    <%= @job.title %>
  </h1>

  <p class="heading-3 mb-2">
    <span class="font-normal text-gray-600">
      <%= t 'views.at' %>
    </span>
    <strong class="font-semibold text-gray-800">
      <%= @job.company.name %>
    </strong>
  </p>

  <div class="w-12 h-1 bg-gray-800 mb-4"></div>

  <div class="mb-5">
    <p class="mb-2 text-gray-700">
      <%= number_to_currency @job.salary_min %>
      –
      <%= number_to_currency @job.salary_max %>
      <span class="text-gray-500">|</span>
      <%= Job.human_attribute_name("employment_type.#{@job.employment_type}") %>
    </p>
    <div class="flex flex-wrap">
      <% if false %>
        <span class="tag mr-2">
          <%= image_tag 'pin.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          <%= @job.location %>
        </span>
      <% end %>

      <span class="tag mr-2">
        <%= Job.human_attribute_name("category.#{@job.category}") %>
      </span>

      <% if @job.remote? %>
        <span class="tag mr-2">
          <%= image_tag 'globe.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          Remote
        </span>
      <% end %>

      <% if @job.visa_sponsorship? %>
        <span class="tag mr-2">
          <%= image_tag 'airplane.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
          <%= Job.human_attribute_name('visa_sponsorship') %>
        </span>
      <% end %>
    </div>
  </div>

  <article class="text-gray-900 mb-4">
    <p class="mb-6">
      <%= @job.description %>
    </p>

    <h3 class="font-semibold mb-2 text-lg">
      <%= t '.how_to_apply' %>
    </h3>

    <p class="">
      <%= @job.how_to_apply %>
    </p>
  </article>

  <p class="mb-2 text-sm text-gray-600 mb-6">
    <%= t 'views.posted_at', count: posted_at_count(@job) %>
  </p>

  <a href="#" class="button">
    <%= t '.apply_button' %>
  </a>
</div>
