<div class="container mx-auto flex justify-between items-center py-6 lg:mb-8">
  <a href="#" class="flex items-center">
    <%= image_tag 'logo.svg', class: 'inline-block w-6 h-6 mr-2 lg:w-8 lg:h-8' %>
    <span class="text-2xl lg:text-3xl font-bold tracking-wide mr-1">antiwork</span>
    <sup class="text-base font-light">β</sup>
  </a>

  <a href="#" class="button">Post a job</a>
</div>

<div class="px-4 lg:px-0 max-w-lg mx-auto mb-8">
  <input type="text" class="field mb-3" placeholder="Please enter query…">

  <div class="flex mb-1">
    <div class="dropdown-link mr-6 text-gray-600">
      Category

      <%= image_tag 'arrow-dropdown.svg',
                    class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>

      <div class=" dropdown-content absolute hidden w-64 shadow-lg text-gray-700">
        <ul class="dropdown-list">
          <div class="dropdown-list-item">
            <span class="flex-1">Software development</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Design</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Customer support</span>
            <span class="ml-2">
              <%= image_tag 'checkmark.svg', class: 'injectable w-4 text-gray-600 fill-current' %>
            </span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Management</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Analytics</span>
            <span></span>
          </div>
        </ul>
      </div>
    </div>

    <div class="dropdown-link mr-6 text-gray-600">
      Location

      <%= image_tag 'arrow-dropdown.svg',
                    class: 'injectable dropdown-arrow inline-block h-6 w-6 ml-1 text-gray-600 fill-current' %>

      <div class=" dropdown-content absolute hidden w-48 shadow-lg text-gray-700">
        <ul class="dropdown-list">
          <div class="dropdown-list-item">
            <span class="flex-1">London</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">New York City</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Berlin</span>
            <span class="ml-2">
              <%= image_tag 'checkmark.svg', class: 'injectable w-4 text-gray-600 fill-current' %>
            </span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Sydney</span>
            <span></span>
          </div>
          <div class="dropdown-list-item">
            <span class="flex-1">Paris</span>
            <span></span>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <% @jobs.each_with_index do |job, index| %>
  <div class="py-5">
    <div class="mb-2">
      <a href="#" class="text-xl lg:text-2xl font-semibold text-gray-900 border-b-4 hover:border-gray-900 mr-1">
        <%= job[:title] %>
      </a>
      <span class="text-gray-600 lg:text-lg mr-1">at</span>
      <span class="text-lg lg:text-xl">
        <%= job[:company] %>
      </span>
    </div>
    <p class="mb-3 text-gray-700">
      <%= job[:salary] %>
      <span class="text-gray-500">|</span>
      <%= job[:category] %>
    </p>
    <div class="flex">
      <span class="tag mr-2">
        <%= image_tag 'pin.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
        <%= job[:location] %>
      </span>

      <% if index % 3 == 0 %>
      <span class="tag mr-2">
        <%= image_tag 'globe.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
        Remote
      </span>
      <% end %>

      <% if index % 2 == 0 %>
      <span class="tag mr-2">
        <%= image_tag 'airplane.svg', class: 'injectable h-3 text-gray-500 fill-current mr-1' %>
        Visa sponsorship
      </span>
      <% end %>
    </div>
  </div>
  <hr class="border-b-2 border-gray-200 mb-0">
  <% end %>
</div>

<div class="text-center mb-8">
  <a href="#" class="text-lg font-semibold text-gray-800 border-b-4 hover:border-gray-900 mr-1">Sign in</a>
  <span class="text-gray-600">for existing users</span>
</div>
