<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1 mb-2">
    <%= I18n.t('passwordless.sessions.new.heading') %>
  </h1>

  <div class="bar mb-8"></div>

  <%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f| %>
    <% email_field_name = :"passwordless[#{@email_field}]" %>

    <%= email_field_tag email_field_name,
                        params.fetch(email_field_name, nil),
                        placeholder: 'email@example.com', required: true,
                        class: 'field mb-1' %>

    <small class="block text-sm text-gray-600 mb-4">
      <%= t '.email_help' %>
    </small>

    <%= f.submit I18n.t('passwordless.sessions.new.submit'), class: 'button' %>
  <% end %>
</div>
