<!DOCTYPE html>
<html>
  <head>
    <title><%= title content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#1a202c">

    <%= content_for :meta %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'hello_vue' %>

    <% if Rails.env.production? %>
      <%= render 'shared/scripts' %>
    <% end %>
  </head>

  <body class="font-sans">
    <%= render 'shared/header' %>

    <%= yield %>
  </body>
</html>
