<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= title content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#1a202c">

    <meta name="description" content="<%= meta_description content_for(:meta_description) %>">
    <%= content_for :meta %>

    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url_for(only_path: false) %>">
    <meta property="og:title" content="<%= title content_for(:title) %>">
    <meta property="og:description" content="<%= meta_description content_for(:meta_description), limit: 200 %>">
    <meta property="og:site_name" content="<%= Rails.application.config.hostname %>">
    <meta property="og:locale" content="<%= I18n.locale %>_RU">

    <meta name="twitter:card" content="summary">
    <% if false %>
      <meta name="twitter:site" content="@site_account">
    <% end %>
    <meta name="twitter:creator" content="@dankimio">
    <meta name="twitter:url" content="<%= url_for(only_path: false) %>">
    <meta name="twitter:title" content="<%= title content_for(:title) %>">
    <meta name="twitter:description" content="<%= meta_description content_for(:meta_description), limit: 200 %>">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'hello_vue' %>

    <% if Rails.env.production? %>
      <%= render 'shared/scripts' %>
    <% end %>
  </head>

  <body class="font-sans">
    <%= render 'shared/header' %>

    <%= yield %>
  </body>
</html>
